.container {
  z-index: 1;
  height: 60vh;
  width: 29%;
  box-shadow: 5px 5px 4px 0 rgba(79, 78, 78, 0.6);
  /* background: linear-gradient(150deg, #7b2be8 50%, #01c2cc 100%); */
  background: rgba(208, 162, 241, 0.42);  
  border:  0.1px solid rgba(183, 183, 248, 0.607);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 12px;
  margin-bottom: 50px;
  margin-top:2%;
}

.container h2 {
  margin: 0;
  color: #ffffffec;
  margin-top: 1rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7rem;
  width: 98%;
}

.inputContainer button {
  width: 5vw;
  background: linear-gradient(-120deg, #ff66c4 20%, #fdcc00 84%);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.4);
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  color: #611bbd;
  font-weight: bold;
  font-size: 1rem;
  transition: background 1s ease;
}

.inputContainer button:hover {
  background: linear-gradient(-120deg, #fdcc00 20%, #ff66c4 84%);
}

.inputContainer textarea {
  background-color: transparent;
  border: #611bbd 3px solid;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-right: 0.75rem;
  resize: none;
  color: white;
  box-shadow: inset 4px 4px 1px rgba(0, 0, 0, 0.5),
    inset -4px -4px 1px rgba(0, 0, 0, 0.5);
  outline: none;
  width: 75%;
}

.inputContainer textarea::placeholder {
  color: white;
  font-weight: bold;
}

.message {
  background-color: rgb(178, 215, 248);

  padding: 0.25rem 0.75rem;
  border-radius: 0.7rem;
  position: relative;
  box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.4);
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  max-width: 50%;
  margin: 0.25rem;
}

.tail {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid rgb(178, 215, 248);
  border-top: 8px solid rgb(178, 215, 248);
  border-bottom: 8px solid transparent;
  right: 46px;
  bottom: 2px;
}
