.container {
  z-index: 1;
  height: 20rem;
  width: 22rem;
  border-radius: 10px;
  border:  0.1px solid rgba(163, 162, 251, 0.841);
  /* box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.6); */
  /* background: linear-gradient(320deg, #7b2be8 50%, #01c2cc 100%); */
  background: rgba(150, 213, 247, 0.511); /* couleur de fond avec transparence */  display: flex;
  /* backdrop-filter: blur(10px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 14vh;
}
.container h2 {
  margin: 0;
  color: #ffffffec;
}
