.header {
  width: 100vw;
  text-align: center;
}

.bigBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: row;
  height: 500vh;
  width: 100%;
  padding: 20px;
}

.topBox {
  border: red 1px solid;
  height: 11vh;
  width: 100%;
}
.rowList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120vh;
  width: 97%;
  text-align: center;
  padding: 10px;
  border: 1px black solid;
  margin: 30px;
}

.colSched {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  border: 1px solid cyan;
  height: 15vh;
  width: 24vh;
}

.daySched {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
  height: 90vh;
  width: 24vh;
}

.hourList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.Li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 22vh;
  border: 1px black solid;
  padding: 5px;
}

/* .bigPicture {
  background-image: ;
} */
.footer {
  width: 100vw;
  height: 200px;
  text-align: center;
  border: 2px solid green;
}
