.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  min-width: 1000px;
  width: 100vw;
  height: 8vh;
  padding-left: 60px;
  text-align: center;
  background: linear-gradient(70deg, #7b2be8 50%, #01c2cc 100%);
  background-color: lightskyblue;
}

.rowList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 140vh;
  width: 100vw;
  min-width: 1000px;
  text-align: center;
  padding: 1px;
  background-color: lightskyblue;
  color: lightskyblue;
  overflow-x: auto;
}

.colSched {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", system-ui;
  font-size: 16px;
  color: white;
  background: linear-gradient(70deg, #7b2be8 50%, #01c2cc 100%);
  border-radius: 20px;
  margin: 1.25vw;
  height: 8vh;
  width: 10vw;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.daySched {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: darkblue;
  height: 120vh;
  width: 14vw;
  min-width: 210px;
}

.hourList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  margin: 1px;
}

.Li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 215px;
  width: 215px;
  margin-top: 5px;
  margin-right: 1px;
  margin-left: 0;
  margin-bottom: 0;
  border-radius: 5%;
  color: #1b2968;
  border-top: 3px transparent rgb(151, 12, 206);
  border-left: 3px transparent rgb(151, 12, 206);
  border-bottom: none;
  border-right: none;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /* Ombre grise plus claire */
  padding: 5px;
}
.liText {
  font-family: "monospace";
  font-size: 20px;
  height: 20px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border: black 0.5px solid;

  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); /* Ombre sous les lettres */
  border-radius: 5px;
}

.bigPicture1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.footer {
  background: linear-gradient(70deg, #7b2be8 50%, #01c2cc 100%);
  font-size: "22px";
  height: 10vh;
  width: 100%;
}
