.settingsBox {
  height: 1500px;
  width: 500px;
}
.bigCard {
  height: 450px;
  width: 480px;
}
/* .changePic {
} */
/* .fieldCard {
  height: 225px;
  width: 475px;
}
 */
/* .fields {

}
.onOff {
}
.settingsText {
}
.buttonOnOff {
}
.separationLine {
  border: 1px solid blue;
}
.saveButton {} */
