

.main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    margin-top: 0px;
    padding-top: 0px;
    top: 0px; 
    /* background: linear-gradient(70deg, #FF66C4 2%, #fbd96b 100%); */
    background: linear-gradient(to top, #FF66C4 2%, #fbd96b 100%);
    /* animation: morph 5s infinite alternate; */
    /* background: linear-gradient(to top, #aa4aaced 2%, #fbd96be2 100%); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* @keyframes morph {
    0% {
      background: linear-gradient(to top, #FF66C4 2%, #fbd96b 100%);
    }
    25% {
      background: linear-gradient(to top, #FF66C4 2%, #fbd96b 25%, #89cff0 100%);
    }
    50% {
      background: linear-gradient(to top, #FF66C4 2%, #fbd96b 50%, #89cff0 75%, #FF66C4 100%);
    }
    75% {
      background: linear-gradient(to top, #FF66C4 2%, #fbd96b 75%, #89cff0 100%);
    }
    100% {
      background: linear-gradient(to top, #FF66C4 2%, #fbd96b 100%);
    }
} */

.form{
    border: solid 1px rgba(227, 184, 255, 0.767);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:400px;
    height: 470px;
    background-color: rgba(252, 249, 230, 0.268);
    backdrop-filter: blur(2px);
}

.title{
    color:rgba(85, 52, 98, 0.956);
    /* border: solid 1px rgb(247, 91, 91); */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    /* margin-bottom: 3vh; */
}

.inputs{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* border: solid 1px rgb(255, 162, 0); */
height: 30vh;
width: 50vw;

    position: relative;
    margin: 25px 0;
  
}

.emailBox,
.usernameBox,
.passwordBox {
  position: relative;
  margin-bottom: 2vh;
}

.emailBox input,
.usernameBox input,
.passwordBox input {
  width: 19rem;
  height: 40px;
  /* background: transparent; */
  /* background-color: #f8cbce; */
  background-color: #f8cbce8b;
  border: 1px solid rgba(85, 52, 98, 0.432);

  /* background-color: #fce8dd74; */
  /* border: solid 1px rgba(227, 184, 255, 0.767); */
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: 0.5s;
}

.emailBox input:hover,
.usernameBox input:hover,
.passwordBox input:hover {
  box-shadow: 0px 0px 10px #080909b8;
  border: 1px solid rgba(85, 52, 98, 0.729);

}

.emailBox input:focus,
.usernameBox input:focus,
.passwordBox input:focus,
.emailBox input:valid,
.usernameBox input:valid,
.passwordBox input:focus-within, 
.inputFilled input{
  border: 1.5px solid rgba(85, 52, 98, 0.956);
  color: black;
  background-color: #f8cbce87;
  /* background-color: #f8cbce6a; */
}

.emailBox label,
.usernameBox label,
.passwordBox label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px; 
  font-size: 0.8em;
  color: #5f4d67de;
  pointer-events: none;
  transition: 0.5s ease;
}

.emailBox input:focus ~ label,
.emailBox input:valid ~ label,
.usernameBox input:focus ~ label,
.usernameBox input:valid ~ label,
.passwordBox input:focus ~ label,
.passwordBox input:focus-within ~ label, 
.inputFilled input ~ label{
  top: 0;
  left: 20px; 
  font-size: 0.8em;
  background-color: #fbdddf;
  padding: 0 6px;
  color: rgba(50, 34, 74, 0.901);
  border-radius: 24px;
  /* border: solid 1 rgba(85, 52, 98, 0.956); */
}

.emailBox input:valid ,
.usernameBox input:valid {
border: solid 1px rgba(18, 148, 18, 0.512)
}
.emailBox input:valid:hover ,
.usernameBox input:valid:hover {
box-shadow:  1px rgb(45, 154, 45)
}

.emailBox input::placeholder,
.usernameBox input::placeholder,
.passwordBox input::placeholder{
  color: transparent;
}






.signupbtn{
    margin-top:25px;
    border-radius: 16px;
    border: none;
    width: 10rem;
    height: 36px;
    background-color:#380e658e;
    color: rgba(255, 226, 36, 0.929);
    transition: background-color ease 1s;

    /* background-color: #7022DB9a; */
    /* color:#FFE81Dfb; */
}

.signupbtn:hover{
    background-color:#6c4398d2;
    transition: background-color 2s;
    /* color: rgba(56, 14, 116, 0.802); */
    transition: color 0.4s;
    box-shadow: 0px 0px 10px #7353a1;
}

.connect{
    /* border: solid 1px red; */
    margin-top:80px;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgba(61, 39, 70, 0.956);

}

.toggleText {
    cursor: pointer;
    margin-bottom: 0.1vh;
    font-size: 0.8rem;
    color: #211a2dfb;

}

.toggleText:hover{
    text-decoration: underline;
}

.bottomMsg{
    /* padding-bottom: 4px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guestmode{
    text-decoration: none;
    color: #211a2dfb;
    font-size: 0.8rem;
    margin-bottom: 1vh;
}

.guestmode:hover{
    text-decoration: underline;
}

.check{
  width: 200px;
  height: 200px;
}



.openEyeIcon{
  height: 1.2rem; 
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing:border-box;
  top:50%;
  right:10px;
  transform: translateY(-50%);
}

.slashedEyeIcon{
  height: 1.3rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing:border-box;
  top:50%;
  right:10px;
  transform: translateY(-50%);
}

.container {
  display: flex;
  justify-content: center;
  height: 10px;
}

.validator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 15px 19px; /* Définir la hauteur des deux lignes */
  gap: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 3rem;
  width: 90%;
  grid-row-gap: 1px;
  height: 20px;
}

.validator p {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: rgba(204, 20, 20, 0.945); /* Taille de police plus petite */
  line-height: 1;
}

.validator p.valid {
  color: rgb(86, 139, 40);
}


