
.verif-page {
  background: linear-gradient(to top, #FF66C4 2%, #fbd96b 100%);

    text-align: center;
    margin-top: 50px;
  }
  
  .verif-page h1 {
    font-size: 24px;
    color: #333;
  }
  
  .verif-page p {
    font-size: 18px;
    color: #666;
  }
  